:root {
  --section-title-underline-size-primary: 50%;
  --section-title-underline-size-secondary: calc(
    var(--section-title-underline-size-primary) / 2
  );
  --section-background: #fff1e6;
}
.spacing > * + * {
  margin-top: 1em;
}

/* styles for navbar and nav elements */
.navbar-brand {
  color: #b9fbc0 !important;
}
.nav-link {
  color: #b9fbc0 !important;
  font-weight: bold;
  text-align: right;
}

/* styles for hero section */
.hero {
  background: url("img/hero.jpg") no-repeat center, radial-gradient(#444, #333);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: 50% 100%;
  background-size: cover;
}
.hero .h6 {
  color: #fdffb6;
}
.hero .check-mark {
  color: #ccff33;
  font-size: 200%;
}

/* styles for resume button */
#resume-button {
  --button-color: #ff5c8a;
  border: none;
  background-color: transparent;
  color: var(--button-color);
  border: 4px solid var(--button-color);
  padding: 0.3em 1.5em;
  font-size: 130%;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 250ms linear;
}

#resume-button:hover,
#resume-button:focus {
  --button-color-hover: #fdffb6;

  color: var(--button-color-hover);
  border-color: var(--button-color-hover);
  filter: drop-shadow(0px 0px 10px #adff02);
  transform-origin: 0% 0%;
  transform: scale(1.1);
}

/* styling for section */
section {
  background-color: var(--section-background);
}

/* styling the section title */
[section-title] {
  position: relative;
  font-weight: 600;
  color: #ff4d6d;
  text-shadow: 0px 0px 2px #ccff33;
  padding-bottom: 10px;
  text-transform: capitalize;
  padding-top: 2rem;
}

[section-title]::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: calc(calc(100% - var(--section-title-underline-size-primary)) / 2);
  width: var(--section-title-underline-size-primary);
  height: 1px;
  background-color: #fe6d73;
}

[section-title]::before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: -1px;
  left: calc(calc(100% - var(--section-title-underline-size-secondary)) / 2);
  width: var(--section-title-underline-size-secondary);
  height: 3px;
  background-color: #a0c4ff;
  z-index: 100;
}

/* style for tech stack cards  */
#technology-stack .col {
  max-width: min-content;
}
#technology-stack .stack-item {
  margin-bottom: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

#technology-stack [tech-img] {
  width: 100px;
  filter: drop-shadow(-5px 5px 3px rgba(54, 52, 52, 0.596));
}

#technology-stack hr {
  color: #ef233c;
  width: 100%;
  height: 3px;
  border-radius: 10px;
}

#technology-stack [tech-name] {
  text-transform: uppercase;
  font-weight: 600;
  color: #1a1b1a;
  font-size: 18px;
  line-height: 20px;
}

/* style for ontact area */
#contact {
  background-color: #fafafa;
}

#contact__form {
  box-shadow: 0px 0px 10px 5px #e5e7ee, inset 0px 0px 10px 5px #eeeff0;
}

#contact__form .form_title {
  letter-spacing: 2px;
  --font-size: calc(2vw + 1rem);
  font-size: var(--font-size);
  font-weight: 600;
  color: #f59d87;
}

#contact__form textarea {
  width: 100%;
  resize: none;
  padding: 10px;
}

#contact__form label {
  text-transform: capitalize;
  color: #81b29a;
  font-weight: 400;
  letter-spacing: 1px;
}

#contact__form input{
  color: #79165b;
}

#contact__details > *:not(:nth-last-child(1)) {
  padding-bottom: 15px;
  border-bottom: 3px solid #e2e1e1;;
}

#contact__details span:first-child{
  font-size: 20px;
}
#contact__details span:not(:nth-last-child(1)) {
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: 600;
  color: #ffb4a2;
  display: inline-block;
}
#contact__details span:nth-last-child(1) {
  --font-size: calc(1vw + 1rem);
  font-size: var(--font-size);
  color: #ef233c;
}

#contact__details i{
  --font-size: calc(2vw + 2rem);
  font-size: var(--font-size);
}

/* media query */
@media (max-width: 768px) {
  #resume-button {
    font-size: 100%;
  }

  #technology-stack [tech-img] {
    width: 80px;
  }
}
