:root {
  --section-title-underline-size-primary: 50%;
  --section-title-underline-size-secondary: calc(
    var(--section-title-underline-size-primary) / 2
  );
  --section-background: #fff1e6;
}
.spacing > * + * {
  margin-top: 1em;
}

/* styles for navbar and nav elements */
.navbar-brand {
  color: #b9fbc0 !important;
}
.nav-link {
  color: #b9fbc0 !important;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}

/* styles for hero section */
.hero {
  background: url("img/hero.jpg") no-repeat, radial-gradient(#444, #333);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center right;
  background-size: cover;
}
.hero .h6 {
  color: #fdffb6;
}
.hero .check-mark {
  color: #ccff33;
  font-size: 200%;
}

/* styles for resume button */
#resume-button {
  --button-color: #ff5c8a;
  border: none;
  background-color: transparent;
  color: var(--button-color);
  border: 4px solid var(--button-color);
  padding: 0.3em 1.5em;
  font-size: 130%;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 250ms linear;
}

#resume-button:hover,
#resume-button:focus {
  --button-color-hover: #fdffb6;

  color: var(--button-color-hover);
  border-color: var(--button-color-hover);
  filter: drop-shadow(0px 0px 10px #adff02);
  transform-origin: 0% 0%;
  transform: scale(1.1);
}

/* styling for section */
section {
  background-color: var(--section-background);
}

/* styling the section title */
[section-title] {
  position: relative;
  font-weight: 600;
  color: #ff4d6d;
  text-shadow: 0px 0px 2px #ccff33;
  padding-bottom: 10px;
  text-transform: capitalize;
  padding-top: 2rem;
}

[section-title]::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: calc(calc(100% - var(--section-title-underline-size-primary)) / 2);
  width: var(--section-title-underline-size-primary);
  height: 1px;
  background-color: #fe6d73;
}

[section-title]::before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: -1px;
  left: calc(calc(100% - var(--section-title-underline-size-secondary)) / 2);
  width: var(--section-title-underline-size-secondary);
  height: 3px;
  background-color: #a0c4ff;
  z-index: 100;
}

/* style for tech stack cards  */
#technology-stack .col {
  max-width: min-content;
}
#technology-stack .stack-item {
  margin-bottom: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

#technology-stack [tech-img] {
  width: 100px;
  filter: drop-shadow(-5px 5px 3px rgba(54, 52, 52, 0.596));
}

#technology-stack hr {
  color: #ef233c;
  width: 100%;
  height: 3px;
  border-radius: 10px;
}

#technology-stack [tech-name] {
  text-transform: uppercase;
  font-weight: 600;
  color: #1a1b1a;
  font-size: 18px;
  line-height: 20px;
}

/* style for contact area */
#contact {
  background-color: #fafafa;
}

#contact__form {
  box-shadow: 0px 0px 10px 5px #e5e7ee, inset 0px 0px 10px 5px #eeeff0;
}

#contact__form .form_title {
  letter-spacing: 2px;
  --font-size: calc(2vw + 1rem);
  font-size: var(--font-size);
  font-weight: 600;
  color: #f59d87;
}

#contact__form textarea {
  width: 100%;
  resize: none;
  padding: 10px;
}

#contact__form label {
  text-transform: capitalize;
  color: #81b29a;
  font-weight: 400;
  letter-spacing: 1px;
}

#contact__form input {
  color: #79165b;
}

#contact__details > *:not(:nth-last-child(1)) {
  padding-bottom: 15px;
  border-bottom: 3px solid #e2e1e1;
}

#contact__details span:first-child {
  font-size: 20px;
}
#contact__details span:not(:nth-last-child(1)) {
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: 600;
  color: #ffb4a2;
  display: inline-block;
}
#contact__details span:nth-last-child(1) {
  --font-size: calc(1vw + 1rem);
  font-size: var(--font-size);
  color: #ef233c;
}

#contact__details i {
  --font-size: calc(2vw + 2rem);
  font-size: var(--font-size);
}

/* styling for featured section */
#featured {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  background-size: 400%;
  background-position: 50% 50%;
  animation: featured_section_bg linear 10s infinite;
}

@keyframes featured_section_bg {
  0% {
    background-position: 50% 50%;
  }
  25% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 00%;
  }
}

#featured [play-pause-button] {
  font-size: 30px;
}
/* #featured [play-pause-button]::after{
content: "";
padding: 0;
padding: 0;
padding-top: 1em;
padding-left: 1.5em;
background-color: #f00;
position: absolute;
z-index: -1;
} */
/* style for carousel */

.carousel-inner {
  position: relative;
}

.carousel-inner [play-pause-button] {
  display: inline-block;
  position: absolute;
  left: 90%;
  top: 90%;
  font-size: 120%;
  color: #fafaff;
  z-index: 100;
}
.carousel-item {
  height: 110vw;
  max-height: 30rem;
  padding: 0rem;
}

.carousel-item .video_container {
  flex-basis: 55%;
  flex-shrink: 0;
  position: relative;
  border-radius: 20px;
  
}

.video_container > video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 20px;
}

.project_description > *:not(:last-child){
  color: transparent;
  background-clip: text;
}
.project_description h2 {
  --font-size: calc(1vw + 1rem);
  font-size: var(--font-size);


  font-weight: bolder;
  letter-spacing: 2px;
  background-color: #fce043;
background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);

  
}
.project_description p {
  --font-size: calc(1vw + 0.5rem);
  font-size: var(--font-size);

  background-color: #ffcfdf;
background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
  
  background-size: 200%;
  background-position: 98% 80%;
}
.carousel__button:nth-of-type(2) {
  margin-left: 20px;
}

.carousel__button {
  --font-size: calc(1vw + 0.5rem);

  /* --color: #fafaff; */
  --color: #49FF00;

  font-size: var(--font-size);
  display: inline-block;
  text-decoration: none;
  color: var(--color);
  font-weight: 600;
  letter-spacing: 2px;
  border: 2px solid var(--color);
  border-radius: 10px;
  padding: 0.5em 1em;
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out,
    color 250ms linear, border-color 250ms linear, transform 250ms ease-in-out;
}

.carousel__button:hover,
.carousel__button:focus {
  background-color: #000;
  color: #fff;
  border-color: #fff;
  box-shadow: 0px 0px 30px #fafffa, inset 0px 0px 10px #fafaff;
  transform: scale(1.075);
}

/* media query */
@media (max-width: 768px) {
  #resume-button {
    font-size: 100%;
  }

  #technology-stack [tech-img] {
    width: 80px;
  }
}
